@import './generics.scss';

.game{
    width: 100%;
    height: 100vh;
    @include flex-column-center;
    background: url(../img/backgroundBlue.jpg) no-repeat center/cover;

    &_container{
        @include flex-column-center;
        gap: 40px;
    }

    &_containerCounter{
        width: 90%;
        @include flex-row;
        justify-content: space-between;
    }

    &_score{
        width: 40%;
        background: pink;
        @include flex-column-center;
    }

    &_scoreBox{
        
    }

    &_containerTimer{
        width: 40%;
        background: blue;
    }

    &_containerCards{
        width: 90%;
        max-width: 650px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-sizing: border-box;
    }

    // &_containerCards, &_cardBox:hover{
    //     transform: rotateY(180deg);
    // }

    &_cardBox{ 
        width: 100%;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        transform-style: preserve-3d;
        transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    // &_cardBack, &_cardFront{
    //     position: absolute;
    //     width: 80px;
    //     height: 80px;
    //     -webkit-backface-visibility: hidden;
    //     backface-visibility: hidden;
    // }

    &_cardBack{
        position: absolute;
        cursor: pointer;
        width: 80px;
        height: 80px;
        padding: 20px 0;
        background: #e2e1de;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        align-content: center;
        transform: rotateY(180deg);
    }
    
    
    
    &_cardFront{
        position: absolute;
        width: 80px;
        height: 80px;
        padding: 15px;
        background: #f9db6c;
        border-radius: 5px;
        cursor: pointer;
        pointer-events: none;
        align-content: center;
        backface-visibility: hidden;
    }

 
    &_cardBoxImg{
        width: 100%;
    }

    &_cardFrontImg{
        width: 100%;
    }

    &_containerPowers{
        width: 90%;
        @include flex-row;
        justify-content: center;
        gap: 20px;
    }

    &_power{
        width: 20%;
        max-width: 80px;
    }

    &_imgAddTime, &_showAll, &_showTwo{
        width: 100%;
        max-width: 100px;
    }
}

.toggleCard {
    transform: rotateY(180deg);
  }