@import './generics.scss';


.game{
    width: 100%;
    height: 100vh;
    @include flex-column-center;
    background: url(../img/backgroundBlue.jpg) no-repeat center/cover;

    &_containerCounter{
        width: 90%;
        @include flex-row;
        justify-content: space-between;
    }

    &_score{
        width: 40%;
        background: pink;
        @include flex-column-center;
    }

    &_scoreBox{
        
    }

    &_containerTimer{
        width: 40%;
        background: blue;
    }

    &_containerCards{
        width: 90%;
        height: 60%;
        background: rgb(225, 201, 121);
        @include flex-wrap-center();
    }

    &_cardBox{
        width: 80px;
        height: 80px;
        padding: 15px;
    }

    &_cardBoxImg{
        width: 100%;
    }

    &_containerPowers{
        width: 90%;
        @include flex-row;
        justify-content: center;
        gap: 20px;
    }

    &_power{
        width: 20%;
        max-width: 80px;
    }

    &_imgAddTime, &_showAll, &_showTwo{
        width: 100%;
        max-width: 100px;
    }
}
