@import './generics.scss';

.game{
    width: 100%;
    // height: 100vh;
    // min-height: 850px;
    // height: 100%;
    min-height: 100vh;
    // padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: url(../img/backgroundBlue.jpg) no-repeat center/cover;

    &_container{
        width: 90%;
        min-height: 70vh;
        gap: 80px;
        padding: 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    &_containerCards{
        width: 100%;
        // max-width: 260px;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-sizing: border-box; /*Cuando agregemos un width a un elemento y luego se añada un padding, no modifique el tamaño del elemento */    
    }

    &_containerCounter{
        width: 90%;
        @include flex-row;
        justify-content: space-between;
    }

    &_score{
        width: 40%;
        max-width: 150px;
        @include flex-column-center;
    }

    &_scoreimgStar{
        width: 80%;
    }

    &_scoreBox{
        width: 90%;
        background: white;
        border-radius: 8px;
        border: 5px solid #ff7e07;
        border-left: 10px solid #ff7e07;
        border-right: 10px solid #ff7e07;
        text-align: center;
        font-family: $font-family-Text;
        font-weight: 600;
        font-size: 20px;
        color: $color-text;
    }

    &_containerTimer{
        width: 40%;
        max-width: 150px;
        padding-top: 30px;
    }

    &_timer{
        width: 90%;
        text-align: center;
        font-family: $font-family-Text;
        color: $color-text;
        font-size: 26px;
        font-weight: 600;
    }

    // &_containerPowers{
    //     width: 90%;
    //     @include flex-row;
    //     justify-content: center;
    //     gap: 20px;
    // }

    // &_power{
    //     width: 20%;
    //     max-width: 80px;
    // }

    // &_imgAddTime, &_showAll, &_showTwo{
    //     width: 100%;
    //     max-width: 100px;
    // }
}


.gameCard {
    
    position: relative;
    cursor: pointer; 
    height: 80px;
    width: 80px;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: all 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
    & img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    
    
    &_front,
    &_back {
        position: absolute;
        cursor: pointer;
        width: 100%;
        padding: 5px;
        height: 100%;
    }

    &_front {
        pointer-events: none;
        background-color: #FFF975;
        border-radius: 10px;
        align-content: center;
        backface-visibility: hidden;
        padding: 10px;

        & img {

        }
      }
      
    &_back {
        pointer-events: none;
        background-color: #fffee1;
        border-radius: 10px;
        align-content: center;
        transform: rotateY(180deg);
      }
      
     
    &.toggleCard {
        transform: rotateY(180deg);
    }
}
    


  

@media (min-width: 750px) {

    .game{

        &_containerCards{
            width: 80%;
        }
    }

    .gameCard{
        height: 100px;
        width: 100px;
    }
}
@media (min-width: 1024px) {

    .game{

        &_containerCards{
            width: 100%;
            max-width: 920px;
        }
    }

    .gameCard{
        height: 150px;
        width: 120px;
    }
}