.game--hidden {
  display: none; }

.game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: url(../img/backgroundBlue.jpg) no-repeat center/cover; }
  .game_containerCounter {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .game_score {
    width: 40%;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .game_containerTimer {
    width: 40%;
    background: blue; }
  .game_containerCards {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; }
  .game_cardBox {
    width: 80px;
    height: 80px;
    padding: 15px;
    background: #FFE837;
    border-radius: 5px; }
  .game_cardBoxImg {
    width: 100%; }
  .game_containerPowers {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; }
  .game_power {
    width: 20%;
    max-width: 80px; }
  .game_imgAddTime, .game_showAll, .game_showTwo {
    width: 100%;
    max-width: 100px; }
