.game {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/backgroundBlue.jpg) no-repeat center/cover; }
  .game_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px; }
  .game_containerCounter {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .game_score {
    width: 40%;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .game_containerTimer {
    width: 40%;
    background: blue; }
  .game_containerCards {
    width: 90%;
    max-width: 650px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box; }
  .game_cardBox {
    width: 100%;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .game_cardBack {
    position: absolute;
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 20px 0;
    background: #e2e1de;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    align-content: center;
    transform: rotateY(180deg); }
  .game_cardFront {
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 15px;
    background: #f9db6c;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none;
    align-content: center;
    backface-visibility: hidden; }
  .game_cardBoxImg {
    width: 100%; }
  .game_cardFrontImg {
    width: 100%; }
  .game_containerPowers {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px; }
  .game_power {
    width: 20%;
    max-width: 80px; }
  .game_imgAddTime, .game_showAll, .game_showTwo {
    width: 100%;
    max-width: 100px; }

.toggleCard {
  transform: rotateY(180deg); }
