@charset "UTF-8";
.game {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: url(../img/backgroundBlue.jpg) no-repeat center/cover; }
  .game_container {
    width: 90%;
    height: 100%;
    gap: 80px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .game_containerCards {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    /*Cuando agregemos un width a un elemento y luego se añada un padding, no modifique el tamaño del elemento */ }
  .game_containerCounter {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .game_score {
    width: 40%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .game_scoreimgStar {
    width: 80%; }
  .game_scoreBox {
    width: 90%;
    background: white;
    border-radius: 8px;
    border: 5px solid #ff7e07;
    border-left: 10px solid #ff7e07;
    border-right: 10px solid #ff7e07;
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #28282c; }
  .game_containerTimer {
    width: 40%;
    padding-top: 30px; }
  .game_timer {
    width: 90%;
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    color: #28282c;
    font-size: 26px;
    font-weight: 600; }

.gameCard {
  position: relative;
  cursor: pointer;
  height: 80px;
  width: 80px;
  border-radius: 15px;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .gameCard img {
    object-fit: contain;
    height: 100%;
    width: 100%; }
  .gameCard_front, .gameCard_back {
    position: absolute;
    cursor: pointer;
    width: 100%;
    padding: 5px;
    height: 100%; }
  .gameCard_front {
    pointer-events: none;
    background-color: #FFF975;
    border-radius: 10px;
    align-content: center;
    backface-visibility: hidden;
    padding: 10px; }
  .gameCard_back {
    pointer-events: none;
    background-color: #fffee1;
    border-radius: 10px;
    align-content: center;
    transform: rotateY(180deg); }
  .gameCard.toggleCard {
    transform: rotateY(180deg); }

@media (min-width: 750px) {
  .game_containerCards {
    width: 70%; }
  .gameCard {
    height: 100px;
    width: 100px; } }

@media (min-width: 1024px) {
  .game_containerCards {
    width: 100%;
    max-width: 920px; }
  .gameCard {
    height: 150px;
    width: 120px; } }
